<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>

<h2>Logowanie</h2>

<form th:action="@{/login-process}" method="post">

  <div>
    <label>Login:</label>
    <input type="text" name="username"/>
  </div>

  <div>
    <label>Hasło:</label>
    <input type="password" name="password"/>
  </div>

  <button type="submit">Zaloguj</button>
</form>

<div th:if="${param.error}">
  ❌ Błędny login lub hasło
</div>

<div th:if="${param.logout}">
  👋 Wylogowano
</div>

</body>
</html>