<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uzytkownicy</title>
</head>
<body>

<h1>Lista uzytkownikow</h1>
<p><a th:href="@{/}">Strona glowna</a></p>
<br>
<a href="/users/add">Dodaj uzytkownika</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Haslo</th>
        <th>Email</th>
        <th>Rola</th>
        <th>Akcje</th>
    </tr>

    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.login}"></td>
        <td th:text="${u.haslo}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.role.nazwa}"></td>
        <td>
            <a th:href="@{'/users/edit/' + ${u.id}}">Edytuj</a>
            <a th:href="@{'/users/delete/' + ${u.id}}">Usuń</a>
        </td>
    </tr>
</table>

</body>
</html>